/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Settings */
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    list-style: none;
    text-decoration: none;
}

/* Variables backgrounds */
:root{
    --bg_black_100: rgba(31, 31, 31, 0.9);
    --bg_white_100: #ddd;
    --bg_white_50: #eff0f4;
    --bg_white_25: #f5f5f5;
    --bg_white_10: #f5f5f5;
    --text_black_900: #000;
    --text_black_700: rgb(37, 37, 37);
    --text_black_600: rgb(172, 172, 172);
    --text_black_400: rgb(221, 221, 221);
    --text_black_300: #f5f5f5;
    --shadow: 0 5px 20px rgba(0,0,0,0.05);
}

/* Dasar atau body */
body{
    font-size: 16px;
    line-height: 1.5;
}
:before,:after{
    box-sizing: border-box;
}
img{
    width: 100%;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.raw{
    display: flex;
    flex-wrap: wrap;
}
.titleText, h2{
    color: var(--text_black_900);
    font-size: 2em;
    font-weight: 300;

    span{
        color: var(--text_black_700);
        font-weight: 700;
        font-size: 1.5em;
    }
}
.title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Bar Navigasi */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    
    /* bar otomatis ketika turun */
    &.sticky{ 
        background: var(--bg_white_10);
        padding: 10px 100px;
        box-shadow: var(--shadow);

        .logo{
            color: var(--text_black_900);
        }

        .nav{

            li{

                a{
                    color: var(--text_black_900);
                }
                .btnMasuk2{
                    color: black;
                    background-color: white;
                }
                .btnDaftar{
                    color: black;
                    background-color: white;
                }
            }
        }
    }

    .logo{
        color: var(--text_black_700);
        font-weight: 700;
        font-size: 2em;
        text-decoration: none;
    }
    
    .nav{
        position: relative;
        display: flex;

        li{
            margin: 0 0 0 25px;
            a{
                color: var(--text_black_600);
                font-weight: 300;
                &:hover{
                    color: var(--text_black_900);
                }
            }
            .btnMasuk2{
                color: var(--text_black_600);
                &:hover{
                    color: white;
                    background-color: var(--text_black_900);
                }
            }
            .btnDaftar{
                color: var(--text_black_600);
                &:hover{
                    color: white;
                    background-color: var(--text_black_900);
                }
            }
        }
    }
}

/* button */
.btnMasuk{
    font-size: 16px;
    color: var(--text_black_300);
    background-color: var(--text_black_700);
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    transition: .5s;
    border-radius: 5px;
}

.btnMasuk2{
    color: var(--text_black_300);
    background-color: white;
    display: inline-block;
    padding: 0 10px;
    margin-top: 5px;
    transition: .5s;
    border-radius: 50px;
    border: solid;
}

.btnDaftar{
    color: var(--text_black_300);
    background-color: white;
    display: inline-block;
    padding: 0px 15px;
    margin-top: 5px;
    transition: .5s;
    border-radius: 50px;
    border: solid;
}

/* landing page */
.beranda{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(./assets/gambar/bg-3.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;

    .content{
        max-width: 900px;
        text-align: center;

        h2{
            font-size: 5em;
            font-weight: 400;
            color: var(--text_black_900);
        }
        p{
            font-size: 1em;
            font-weight: 500;
            color: var(--text_black_700);
        }
    }
}
/* tampilan about */
.about{
    padding: 80px 0 80px;
    min-height: 100vh;

    .row{
        position: relative;
        width: 100%;
        display: flex;
        flex: 0 0 50%;
        padding: 15px;
        justify-content: space-between;
        margin-top: 50px;
    }
}
.layanan{
    padding: 80px 0 80px;
    min-height: 100vh;

    .container{
        .title{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .menu{
            justify-content: center;
            align-items: center;
            padding: 20px 0 0;
            position: relative;
            display: grid;
            max-width: 100%;
            grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
            

            .row{
                background: white;
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .card{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    position: relative;
                    background: white;
                    margin: 20px;
                    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
                    transition: .5s;

                    .boxcard{
                        width: 340px;
                        border: 15px solid var(--bg_white_10);
                        box-shadow: var(--shadow);
                        background-color: var(--bg_white_10);

                        .imgBx{
                            position: relative;
                            width: 100%;
                            height: 300px;

                            img{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .text{
                            padding: 15px 0 5px;
                            display: flex;
                            overflow: hidden;
                            justify-content: center;

                            h3{
                                font-weight: 400;
                                color: #111;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Contact Us */
.kontak{
    padding: 80px 0 80px;
    min-height: 100vh;
    background: black;
    
    h2{
        color: white;
        span{
            color: white;
        }
    }

    .box{
        margin: 50px 0 0;
        display: flex;
        flex: 0 0 50%;
        padding: 15px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        .kontakForm{
            border-radius: 10px;
            padding: 40px;
            background: var(--bg_white_10);
            box-shadow: var(--shadow);
            width: 40%;

            h3{
                color: black;
                font-size: 1.2em;
                margin-bottom: 20px;
                font-weight: 500;
            }

            .inputBox{
                position: relative;
                width: 100%;
                margin-bottom: 20px;

                input,textarea{
                    width: 100%;
                    background: var(--bg_white_10);
                    border-radius: 5px;
                    border: 1px solid var(--bg_black_100);
                    padding: 10px;
                    color: var(--text_black_900);
                    outline: none;
                    font-size: 16px;
                    font-weight: 300;
                    resize: none;
                    
                }

                input[type="submit"]{
                    font-size: 1em;
                    color: white;
                    background: black;
                    display: inline-block;
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: 2px;
                    transition: .5s;
                    max-width: 100px;
                    font-weight: 500;
                    border: none;
                    cursor: pointer;
                }
            }
        }

        .map{
            position: relative;
            height: 400;
            width: 50%; 
            box-shadow: var(--shadow);
            background: black;
            border-radius: 10px;
            color: white;

            span{
                font-size: 1rem;
                font-weight: 600;
            }

            p{
                font-size: 1rem;
                justify-content: left;
                align-items: left;
            }

            iframe{
                width: 100%;
                height: 250px;
                box-shadow: var(--shadow);
                border: 0;
                border-radius: 5px;
            }
        }
    }
}

/* Tampilan web untuk laptop
@media (max-width: 991px){
    header, header.sticky{
        padding: 10px 30px;

        .nav{

            &.active{
                li{
                    a{
                        color: var(--text_black_900);
                        font-size: 20px;
                        font-weight: 500;
                        transition: all .5s ease;

                        &.hover{
                            color: var(--text_black_600);
                        }
                    }
                }
            }
        }
    }
    header{
        .menuToggle{
            position: relative;
            width: 40px;
            height: 40px;
            background: black;
        }
    }
    header.sticky{
        .menuToggle{
            background: red;

        }
    }

    header{
        .nav{
            top: 0;
            left: 0;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            background: var(--bg_white_10);
            position: fixed;
            height: 100%;
            width: 100%;
            transform: translateX(1000px);
            transition: all .5s ease;

            /* &.active{
                transform: translateX(0px);
                transform-origin: left;
            }
            li{
                
            } 
        }
    }
} */